
@using Laboratorio1_EstructuraDeDatos1.Models

@{
    ViewBag.Title = "Carga Por Archivo";

}
<h2>@ViewBag.Title.</h2>
@model IEnumerable<Jugador>
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("SubirArchivo", "Archivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="Import" />
    }

    @if (Model != null && Model.Count() > 0)
    {
        <hr />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Club)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Posicion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalarioBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompensacionGarantizada)
                </th>
                <th></th>
            </tr>
            @foreach (Jugador jugador in Model)
    {
        <tr>
            <td>@jugador.Club</td>
            <td>@jugador.Apellido</td>
            <td>@jugador.Nombre</td>
            <td>@jugador.Posicion</td>
            <td>@jugador.SalarioBase</td>
            <td>@jugador.CompensacionGarantizada</td>
        </tr>
        <td>
            @Html.ActionLink("Edit", "Edit", "Jugador", new{ id = jugador.jugadorID }, null) |
            @Html.ActionLink("Details", "Details", "Jugador", new { id = jugador.jugadorID }, null) |
            @Html.ActionLink("Delete", "Delete", "Jugador", new { id = jugador.jugadorID }, null)
        </td>
}
        </table>


    }
</body>
</html>
