@model IEnumerable<Laboratorio1_EstructuraDeDatos1.Models.Jugador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalarioBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompensacionGarantizada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Club)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalarioBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompensacionGarantizada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jugadorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.jugadorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jugadorID })
        </td>
    </tr>
}

</table>
